*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #383854;
    color: #FFFFFF;
}
.main{
    display:grid;
    grid-template-columns: 15% 85%;
    width:90%;
    gap:5%;
    /* background-color: yellow; */
}
.sidemenu{
    background-color: #2E2E48;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:15px;
}
.sidemenu-title{
    display:flex;
    align-items: center;
    gap:1%;
   
}
.sidemenu-container ,.sidemenu-exit{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top:3rem;

}
.sidemenu-item
{
    display:flex;
    gap:10%;
}
.right{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding-top: 1rem;
}
.topnav{
    background-color: #2E2E48;
    color:#FFF;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    height: fit-content;
    padding:.2rem 2rem;
    align-items: center;
    
}
.rightnav{
    display:flex;
    align-items: center;
    gap:1rem;
}
.topnav img:nth-child(2) {
    width:40%;
    height: auto;
}
